---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">Published By: <a herf="#">{{page.auther}}</a>, {{ page.date | date: '%B %d, %Y' }}</span>
  <span class="tags">
    {% for tag in page.categories %}<a href='/category/{{ tag }}'>{{ tag }}</a>{% endfor %}</i>
  </span>
  {{ content }}
</div>

<div class="related">
{% unless page.category == null %}
  {% capture pageCategory %}{{ page.category }}{% endcapture %}
  {% unless site.categories[pageCategory].size == 1 %}
    <div>
      <h2>More {{ page.category }} Posts!</h2>
      <div>
        {% for post in site.categories[pageCategory] limit:6 %}
          {% unless post.title == page.title %}

           <h3>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
           </h3>

          {% endunless %}
        {% endfor %}
      </div>
    </div>
  {% endunless %}
{% endunless %}
</div>
