---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">Published By: <a herf="#">{{page.auther}}</a>, {{ page.date | date: '%B %d, %Y' }}</span>
  <span class="tags">
    {% for tag in page.categories %}<a href='/category/{{ tag }}'>{{ tag }}</a>{% endfor %}</i>
  </span>
  {{ content }}
</div>

<div class="related">
  <h3>Related Posts</h3>
  {% assign firstCategory = page.categories | first %}
  {% assign relatedCount = 0 %}
  {% for related in site.categories[firstCategory] %}
      {% unless page.permalink == related.permalink %}
          {% assign relatedCount = relatedCount | plus: 1 %}
          <a href="{{related.permalink}}">{{ related.title }}</a>
      {% endunless %}

      {% if relatedCount == 3 %}
          {% break %}
      {% endif %}
  {% endfor %}
</div>

